
/*Placeholder text color*/
::placeholder { 
    color: black;
    opacity: 1;
    font-weight: bold;
  }

  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}